@model AjouterLocation
@{
    Layout = "_Layout";
}
<main role="main" class="pb-3 logoimage">
    @{
        if (Model is null)
        {
            <h1 class="error">La voiture que vous essayer de louer est soit déja en location ou n'existe pas.</h1>
        }
        else
        {
            <h4>Location pour la voiture: @Model.NoVoiture</h4>
            <form asp-action="Louer" asp-route-id="@Model.NoVoiture" method="post">
                <div class="form-group">
                    <label asp-for="JourneeLocation"></label>
                    <input asp-for="JourneeLocation" class="form-control" />
                    <span asp-validation-for="JourneeLocation" class="error"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NoSuccursale"></label>
                    <input asp-for="NoSuccursale" class="form-control" />
                    <span asp-validation-for="NoSuccursale" class="error"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NoPermisClient"></label>
                    <input asp-for="NoPermisClient" class="form-control" />
                    <span asp-validation-for="NoPermisClient" class="error"></span>
                </div>
                @if (Model.RequiresCreation)
                {
                    <div class="form-group">
                        <label asp-for="Prenom"></label>
                        <input asp-for="Prenom" class="form-control" />
                        <span asp-validation-for="Prenom" class="error"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Nom"></label>
                        <input asp-for="Nom" class="form-control" />
                        <span asp-validation-for="Nom" class="error"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NoTelephone"></label>
                        <input asp-for="NoTelephone" class="form-control" />
                        <span asp-validation-for="NoTelephone" class="error"></span>
                    </div>
                }
                <button type="submit" class="btn btn-primary">Louer</button>
            </form>
        }
    }
</main>