@model RechercheVoiture
@{
    Layout = "_Layout";
}
<main role="main" class="pb-3 logoimage">
    <form asp-action="RechercheLocation" method="post">
        <div class="form-group">
            <label asp-for="CodeSuccursale"></label>
            <input asp-for="CodeSuccursale" class="form-control" />
            <span asp-validation-for="CodeSuccursale" class="error"></span>
        </div>
        <div class="form-group">
            <label asp-for="Model"></label>
            <input asp-for="Model" class="form-control" />
            <span asp-validation-for="Model" class="error"></span>
        </div>
        <button type="submit" class="btn btn-primary">Chercher Voitures</button>
    </form>
</main>