body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    line-height: 40px;
    white-space: nowrap;
    background-color: #333;
    color: #FFC045;
    clear: both;
    position: relative !important;
}

main {
    padding: 50px 150px 50px;
}
.color {
    background-color: cornflowerblue;
}


.logoimage {
    background-image: url("../Images/Logo.png");
    background-color: #065471;
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center;
}
html, body {
    margin: 0;
    height: 100%;
    min-height: 100%;
}
.headerstyle {
    background-color: #FFC045;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

header,
footer {
    flex: none;
}

main {
    flex: auto;
    padding-bottom : 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header li {
    float: left;

}

    li a {
        display: block;
        color: #065471;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: #111;
        }
